---
import Layout from "../../layouts/Layout.astro"
import FilmTile from "../../components/FilmTile.astro"
import { fetchFilms } from "../../utils/fetchFilms"

const films = await fetchFilms("asc")

if (!films.length) {
  throw new Error(`No books found.`)
}
---

<Layout
  sectionTitle="Film"
  classNames={["film-index"]}
  pageTitle="Film | Elmore Leonard"
>
  <section class="media-grid book-list">
    {
      films.map(
        (
          film: {
            documentId: string
            Title: string
            Year: string
            Thumbnail: { url: string }
            slug: string
          },
          index: number
        ) => (
          <FilmTile
            key={film.documentId}
            title={film.Title}
            year={film.Year}
            thumbnailUrl={film.Thumbnail?.url}
            slug={film.slug}
            index={index}
          />
        )
      )
    }
  </section>
</Layout>
