---
import Layout from "../../layouts/Layout.astro"
import FilmTile from "../../components/FilmTile.astro"
import { fetchFilms } from "../../utils/fetchFilms"

const films = await fetchFilms("asc")

if (!films.length) {
  throw new Error(`No books found.`)
}

const pageTitle = `Films | Elmore Leonard`
const metaDescription = `Explore the films based on the works of Elmore Leonard.`
const metaKeywords = `Elmore Leonard, films, movies, crime novels, western fiction`
const metaImage = `${Astro.site}/images/social/el-opengraph.jpg`
---

<Layout
  sectionTitle="Film"
  classNames={["film-index"]}
  pageTitle={pageTitle}
  metaDescription={metaDescription}
  metaKeywords={metaKeywords}
  metaImage={metaImage}
>
  <section class="media-grid book-list">
    {
      films.map(
        (
          film: {
            documentId: string
            Title: string
            Year: string
            Thumbnail: { url: string }
            slug: string
          },
          index: number
        ) => (
          <FilmTile
            key={film.documentId}
            title={film.Title}
            year={film.Year}
            thumbnailUrl={film.Thumbnail?.url}
            slug={film.slug}
            index={index}
          />
        )
      )
    }
  </section>
</Layout>
