---
import Layout from "../../layouts/Layout.astro"
import { fetchBook } from "../../utils/fetchBook"
import { fetchBooks } from "../../utils/fetchBooks"

const { slug } = Astro.params
const book = await fetchBook(slug)

if (!book) {
  throw new Error("Book not found")
}

// Generate static paths at build time
export async function getStaticPaths() {
  const books = await fetchBooks()

  return books.map((book: { slug: string }) => ({
    params: { slug: book.slug },
  }))
}
---

<Layout
  sectionTitle="Books"
  classNames={["book", book.slug]}
  pageTitle=`${book.Title} | Elmore Leonard`
  sectionColor=`${book.PrimaryColor}`
>
  <div class="billboard">
    <picture>
      <source srcset={book.BillboardImage?.url} media="(min-width: 768px)" />
      <img src={book.BillboardImageMobile?.url} alt={book.title} />
    </picture>
    <h1>{book.Title}</h1>
  </div>

  <section class="content">
    <h2 style=`color: ${book.PrimaryColor}`>The Run Down.</h2>
    <p class="synopsis" set:html={book.Synopsis} />
    <span>
      <strong style=`color: ${book.PrimaryColor}`>Published:</strong>
      {book.Year}
    </span>
    <span>
      <strong style=`color: ${book.PrimaryColor}`>Publisher:</strong>
      {book.Publisher}
    </span>
  </section>
</Layout>
