---
import Layout from "../../layouts/Layout.astro"
import BookTile from "../../components/BookTile.astro"
import { fetchBooks } from "../../utils/fetchBooks"

const books = await fetchBooks("asc")

if (!books.length) {
  throw new Error(`No books found.`)
}
---

<Layout
  sectionTitle="Books"
  classNames={["book-index"]}
  pageTitle="Books | Elmore Leonard"
>
  <section class="media-grid book-list">
    {
      books.map(
        (
          book: {
            documentId: string
            Title: string
            Year: string
            Thumbnail: { url: string }
            slug: string
            PrimaryColor: string
          },
          index: number
        ) => (
          <BookTile
            key={book.documentId}
            title={book.Title}
            year={book.Year}
            thumbnailUrl={book.Thumbnail?.url}
            slug={book.slug}
            index={index}
            primaryColor={book.PrimaryColor}
          />
        )
      )
    }
  </section>
</Layout>
